
.login-form{
    width: 35%;
    padding: 30px;
    height: auto;
    padding-bottom: 60px;
    margin-top: 10vh;
    /* margin-bottom: 15vh; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    box-shadow: 0 4px 8px 0 #1ef0874f, 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    border-radius: 2%;
    background-color: white;
     /* box-shadow: 0 4px 8px 0 #b8f8d8, 0 5px 20px 0 #b9f8da; */

}

.login-form h2{
    margin-bottom: 20px;
}



.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0) !important;
    height: auto;
    padding-bottom: 5%;
}

.form-container input,label{
    font-size: small;
}

.form-container label{
    font-weight: 500;
}


.shiftToLeft{
    width: 100%;
    display: flex;
    justify-content: left;

}


.login-btn {
  
    transition: all 0.5s;
    cursor: pointer;
   background-color: rgb(0, 200, 83);
   margin-left: auto;
   margin-right: auto;
   
  }
  
  .login-btn span {
    cursor: pointer;
    display: inline-block;
      position: relative;
      transition: 0.5s;
  }
  
  .login-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .login-btn:hover span {
    padding-right: 25px;
  }
  
  .login-btn:hover span:after {
    opacity: 1;
    right: 0;
  }

@media only screen and (max-width: 1200px) {
    .login-form{
        min-width: 35%;
    }
}

@media only screen and (max-width: 992px) {
    .login-form{
        width: 45%;
    }
}

@media only screen and (max-width: 768px) {
    .login-form{
        width: 55%;
    }
}

@media only screen and (max-width: 576px) {
    .login-form{
        width: 75%;
    }
}
