// @import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');



.book-card{
    /* width: 15vw; */
    width: 230px;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
    transition-timing-function: ease-in-out;
    transition: transform .5s ;
    transition-delay: .1s;
    font-size: medium;
  }



  .book-card:hover{
    box-shadow: 0 4px 8px 0 #00e676, 0 6px 20px 0 #00e676;
    transform: scale(1.18);
} 
  
  .book-card h4{
      font-size: larger;
  }
  
  .book-card img{
    width: 7vw;
    height: 25vh;
    background-attachment: fixed;
    border-radius:"15px"
  }

  .title{
      width: 100%;
      /* background-color: violet; */
      padding: 10px 10px 10px 10px;
  }

  .button-container{
      padding: 10px 0px 10px 0px;
  }

  .button-container button{
      width: 80%;
  }

  .book-img-container{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }